{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex flex-column-reverse flex-lg-row align-content-center">
        <div class="p-2">
            <h2>{{ 'readid.authorization.title'|trans }}</h2>
            <p>{{ 'readid.authorization.text'|trans|nl2br }}</p>
        </div>
        <div class="p-2 text-center">
            <div id="root"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const image="{{ readySession.qrCode.value }}";
        const timeOutMessage="{{ 'readid.authorization.timeout_message'|trans|escape("js") }}"
    </script>
    {{ encore_entry_script_tags('authentication') }}
{% endblock %}
